{% extends "layout/html.twig" %}

{% block extrastyles %} {% endblock %}
{% block extrascripts %}{% endblock extrascripts %}

{% block content %}
    <div class="top-background">
        <div class="wrap abs" style="    position: relative;">
            <div class="t">
                <div class="vsk">
                    <div class="vsk1"></div>
                </div>
                <div style="display: inline-block;">
                <a href="#"><div class="menuindex" id="menuicon1"><p class="menuind" id="menuid">Главная</p></div></a>
                <a href="#"><div class="menuindex" id="menuicon2"><p class="menuind" id="menuid3">Каталог</p></div></a>
                <a href="#"><div class="menuindex" id="menuicon3"><p class="menuind" id="menuid1">Генератор</p></div></a>
                <a href="#"><div class="menuindex" id="menuicon4"><p class="menuind" id="menuid2">Связаться</p></div></a>
                <a href="#"><div class="menuindex" id="menuicon5"><p class="menuind" id="menuid4">Новости</p></div></a>
                </div>
                <div  style="display: inline-block;" class="vprs">
               <div class="p1"><p class="voprosi">Вопросы</p></div>
                <div class="t1">
                   <div class="p2"> <p class="apro">Апробация контрольных измерительных материалов<br/>
                        для проведения в 2015 году единого государственного экзамена<br/>
                        по МАТЕМАТИКЕ</p></div>
                    <p class="bazlvl">Базовый уровень</p>
                    <p class="variant">Вариант №137751</p>
                    <p class="ipvr">Инструкция по выполнению работы</p>
                    <div class="p3"><p class="bolwtext">Работа включает в себя 20 заданий.<br/>
                            На выполнение работы отводится 3 часа (180 минут).<br/>
                            Ответы к заданиям записываются в виде числа или последовательности<br/>
                            цифр. Запишите ответы к заданиям в поле ответа в тексте работы, а затем<br/>
                            перенесите в бланк ответов № 1 справа от номера соответствующего задания.<br/>
                            Если ответом является последовательность цифр, то запишите эту<br/>
                            последовательность в бланк ответов № 1 без пробелов, запятых и других<br/>
                            дополнительных символов.<br/>
                            Пример записи ответов.</p></div>
                    <p class="vr">В работе</p>
                    <p class="nb">На бланке</p>
                    <div style="display: inline-block" class="p4">
                        <p class="otv1">Ответ:</p>
                        <p class="otv2">Ответ:</p>
                    </div>
                    <div class="blk" style="display: inline-block"></div>
                    <div class="p5"><p class="allb">Все бланки ЕГЭ заполняются яркими чёрными чернилами. Допускается<br/>
                            использование гелевой, капиллярной или перьевой ручек.<br/>
                            При выполнении заданий можно пользоваться черновиком. Записи<br/>
                            в черновике не учитываются при оценивании работы.<br/>
                            Баллы, полученные Вами за выполненные задания, суммируются.<br/>
                            Постарайтесь выполнить как можно больше заданий и набрать наибольшее<br/>
                            количество баллов.<br/>
                            <br/>
                            Обязательно проверьте в конце работы, что все ответы к заданиям<br/>
                            части 1 перенесены в бланк ответов!</p></div>
                    <p class="pojel">Желаем успеха!</p>
                </div>
                <div class="t2">
                    <div id="p1" style="display: inline-block"><p class="mat">МАТЕМАТИКА, 11 класс. Базовый уровень</p></div>
                    <div id="p2" style="display: inline-block"><p class="var">Вариант №137751 - 2 / 9</p></div>
                    <div class="t21">
                        <p class="yav">Ответом к каждому заданию является конечная десятичная дробь, целое<br/>
                            число или последовательность цифр. Запишите ответы к заданиям в поле<br/>
                            ответа в тексте работы, а затем перенесите в бланк ответов № 1 справа<br/>
                            от номера соответствующего задания. Если ответом является<br/>
                            последовательность цифр, то запишите эту последовательность в бланк<br/>
                            ответов № 1 без пробелов, запятых и других дополнительных символов.<br/>
                            Каждую цифру, знак «минус» и запятую пишите в отдельной клеточке в<br/>
                            соответствии с приведёнными в бланке образцами. Единицы измерений<br/>
                            писать не нужно.</p>
                    </div>
                    <div class="perenos1"></div>
                    <div class="t22">
                        <div class="krug"><p class="numb">1</p></div>
                        <textarea class="zad1" cols="50" rows="3">Найдите значение выражения
                        </textarea>
                        <div class="formula"></div>
                    </div>
                    <div class="t22">
                        <div class="krug"><p class="numb">2</p></div>
                        <textarea class="zad1" cols="50" rows="4">Найдите значение выражения
                        </textarea>
                        <div  id="formula1"></div>
                    </div>
                    <div class="t22">
                        <div class="krug"><p class="numb">3</p></div>
                        <textarea class="zad3" cols="80" rows="3">Налог на доходы составляет 13% от заработной платы. После удержания налога на доходы Мария Константиновна получила 13 050 рублей. Сколько рублей составляет заработная плата Марии Константиновны?</textarea>
                    </div>
                    <div class="t22">
                        <div class="krug"><p class="numb">4</p></div>
                        <textarea class="zad4" cols="80" rows="5">Длина медианы , проведённой к стороне треугольника со сторонами ,a , b и , вычисляется по формуле.                                        Треугольник имеет стороны                                                                                                          ,5 и 6.Найдите длину медианы, проведённой к стороне длины 6.</textarea>
                   <div class="formula5"></div>
                        <div class="formula6"></div>
                    </div>
                    <div class="t22">
                        <div class="krug"><p class="numb">5</p></div>
                        <textarea class="zad1" cols="50" rows="3">Найдите значение выражения
                        </textarea>
                        <div class="formula1"></div>
                    </div>
                    <p class="fed">©Федеральная служба по надзору в сфере образования и науки Российской федерации</p>
                </div>
                </div>
            </div>
            <div class="listfoot">
            </div>
        </div>
    </div>
{% endblock content %}
