{% extends "layout/html.twig" %}

{% block extrastyles %}

{% endblock %}
{% block extrascripts %}

{% endblock extrascripts %}

{% block content %}

    <div class="list">
        <div class="wrap">
            Здесь будет личный кабинет
        </div>
    </div>

{% endblock content %}
