{% extends "manage/layout/manage.twig" %}
{% block content %}
    <form action="" method="post" style="margin:0;">
        <input type="hidden" value="{{ token }}" name="token">
        <div class="modal-header">
            <h4>Заблокировать пользователя</h4>
        </div>
        <div class="modal-body">
            <p>Вы уверены, что хотите заблокировать пользователя «{{ record.email }}»?</p>
        </div>
        <div class="modal-footer">
            <a href="{{ cancel_url }}" class="btn btn-link">Отмена</a>
            <button class="btn btn-danger"><i class="icon-lock"></i> Да, заблокировать</button>
        </div>
    </form>
{% endblock content %}