{% extends "manage/layout/manage.twig" %}
{% block content %}
<form action="" style="margin:0" method="POST">
    <input type="hidden" value="{{ token }}" name="token">
    <div class="modal-header">
        <h4>Смена пароля пользователя</h4>
    </div>
    <div class="modal-body">
        <label for="password">Новый пароль</label>
        <input type="password" id="password" name="password" />
        <label for="password_confirm">Повторите пароль</label>
        <input type="password" id="password_confirm" name="password_confirm" />
    </div>
    <div class="modal-footer">
        <a href="{{ cancel_url }}" class="btn btn-link">Отмена</a>
        <button class="btn btn-danger"><i class="icon-lock"></i> Изменить пароль</button>
    </div>
</form>
{% endblock content %}