<script type="text/javascript" src="/media/js/orphus/orphus.js"></script>
<div class="whole-footer" style="">
    <div class="footer" style="  margin: auto;
    width: 1099px;">
        <div class="wrap">
            <div class="div100">
                <div id="footer-copyright">
                    <div class="footer-left">
                        {#<img src="/media/theme/uchebnik/label_mini.png" alt=""/>#}
                        <div style="display: inline-block;">
                            <p style="font-family: Roboto-Light;color: #898691;font-size: 14px;margin:0;">
                                Copyright TRIOCOM
                            </p>

                            {#<p style="    font-family: MuseoSansCyrl-300;#}
    {#color: #eae7d7;#}
    {#font-size: 12px;#}
    {#margin: 0;">© 2015. Все права защищены</p>#}
                        </div>
                        <div style="display: inline-block">
                            <div class="facebook1"></div>
                            <div class="twitter1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


