{% extends "layout/html.twig" %}

{% block extrastyles %} {% endblock %}
{% block extrascripts %}{% endblock extrascripts %}

{% block content %}
    <div class="top1">
        <div class="top2" style="position: relative;"><p class="legko">Готовиться с нами - ЛЕГКО!</p></div>
            <div class="top3" style="position: relative;">
                <div class="top4">
                </div>
                <p class="namel">Ломанов Артем</p>
                <a href="#" class="profilchange">Изменить профиль</a>
                <p class="w109">109</p>
                <p class="reit">В рейтинге учеников </p>
                <div class="perenos"><hr color="#ffffff" width="303px" align="middle" size="2px"></div>

                <div class="rectangle"></div>
                <p class="lichkab">Личный кабинет</p>
                <div class="vhod"><a href="#"  class="vhod1">Войдите в личный кабинет и <br/> посмотрите статистику своих действий <br/> за последнюю неделю</a></div>
                <a href="#" class="pereiti"><div class="button2"><div class="right1"></div><p class="per">Перейти</p></div> </a>


            </div>
    </div>
    <div class="center1"></div>
    <div class="center2">
        <div class="center3">
            <p class="lastnews">Последние новости:</p>
            <div class="zsearch"></div>
            <p class="searchnews">Поиск по новостям</p>
            <a href="#"><div class="arrow1"></div></a>
            <div class="news1">
               <a href="#"> <div class="ris1"></div></a>
                <a class="namest">Название статьи</a>
                <p class="ros1">Рособрнадзор выявил 274 вуза, не работающих с ФИС ЕГЭ и приема</p>
                <p class="data1">27.07.15</p>
                <a href="#" class="podrobnee1"><div class="button3"><div class="eme1"></div><p class="pod">Подробнее</p></div> </a>
            </div>
            <div class="news2">
                <a href="#"><div class="ris2"></div></a>
                <a class="namest1">Название статьи</a>
                <p class="ros2">Рособрнадзор выявил 274 вуза, не работающих с ФИС ЕГЭ и приема</p>
                <p class="data2">27.07.15</p>
                <a href="#" class="podrobnee2"><div class="button4"><div class="eme2"></div><p class="pod1">Подробнее</p></div> </a>
            </div>
             <div class="news3">
                 <a href="#"><div class="ris3"></div></a>
                <a class="namest2">Название статьи</a>
                <p class="ros3">Рособрнадзор выявил 274 вуза, не работающих с ФИС ЕГЭ и приема</p>
                <p class="data3">27.07.15</p>
                <a href="#" class="podrobnee3"><div class="button5"><div class="eme3"></div><p class="pod2">Подробнее</p></div> </a>
            </div>
            <div class="news4">
                <a href="#"><div class="ris4"></div></a>
                <a class="namest3">Название статьи</a>
                <p class="ros4">Рособрнадзор выявил 274 вуза, не работающих с ФИС ЕГЭ и приема</p>
                <p class="data4">27.07.15</p>
                <a href="#" class="podrobnee4"><div class="button6"><div class="eme3"></div><p class="pod3">Подробнее</p></div> </a>
            </div>
            <a href="#"><div class="zvsearch"></div></a>
        </div>
    </div>
    <div class="basic"></div>
    <div class="basic2">
    <div class="basic1">
        <div class="basic3">
            <p class="bot-1-1">Рейтинг пользователей</p>
            <div class="table2">
                 <table width="100%" class="tm">
                    <tr>
                        <td class="nmmr">№</td>
                        <td class="nmmr">Имя пользователя</td>
                        <td class="nmmr">Очки рейтинга</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Попов Иван</td>
                        <td>15458</td>
                    </tr>
                    <tr>
                        <td class="nmmr1">2</td>
                        <td class="nmmr1">Шевченко Николай</td>
                        <td class="nmmr1">14569</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Демина Анастасия</td>
                        <td>13735</td>
                    </tr>
                    <tr>
                        <td class="nmmr1">4</td>
                        <td class="nmmr1">Лазарева Татьяна</td>
                        <td class="nmmr1">12458</td>
                    </tr>
                     <tr>
                         <td class="nmmr1">5</td>
                         <td class="nmmr1">Салков Александр</td>
                         <td class="nmmr1">11547</td>
                     </tr>
                     <tr>
                         <td class="nmmr1">6</td>
                         <td class="nmmr1">Карпотков Денис</td>
                         <td class="nmmr1">10458</td>
                     </tr>
                </table>
            </div>
            <a href="#" class="search1">Найти себя</a>
        </div>
        <a href="#"><div class="arrow2"></div></a>
        <a href="#"><div class="zvsearch1"></div></a>
        </div>
    </div>
    </div>



{% endblock content %}
