{% extends "layout/special.twig" %}
{% block content %}
    <div class="content-block">
        <div id="first-content-block-title" class="content-block-title">
            <a href="#">Последние статьи</a>
        </div>
        
        <div class="article-block">
            <div class="article-title">История в формате 3D</div>
            <div class="article-date">19 августа 2013 года, 15:00</div>
            <div class="article-announce">
                <p>Нурсултан Назарбаев выступил с инициативой разработать специальную программу под названием «Народ в потоке истории», основной целью которой ставится осмысление истории с высоты современной науки.</p>
            </div>
            
            <a class="article-link" href="#"></a>
        </div>
        
        <div class="article-block">
            <div class="article-title">Кинолетопись независимого государства</div>
            <div class="article-date">19 августа 2013 года, 15:00</div>
            <div class="article-announce">
                <p>Телеканал «СТВ» организовал ретропоказ документальных фильмов казахстанских режиссеров. В их числе были и 12 работ руководителя студии «ИКС-Б» заслуженного деятеля искусств РК Александра Головинского.</p>
            </div>
            
            <a class="article-link" href="#"></a>
        </div>
    </div>
    
    <div class="content-block-line"></div>
    
    <div class="content-block">
        <div class="content-block-title">
            <a href="#">Позиция эксперта</a>
        </div>
        
        <div class="article-block">
            <div class="article-title">Методический инструментарий</div>
            <div class="article-date">19 августа 2013 года, 15:00</div>
            <div class="article-announce">
                <p>Союз художников РК при поддержке АО «Фонд национального благосостояния «Самрук-Казына» готовит к выпуску пятитомное издание иллюстрированных альбомов «Казахское искусство».</p>
            </div>
            
            <a class="article-link" href="#"></a>
        </div>
        
        <div class="article-block">
            <div class="article-title">История в формате 3D</div>
            <div class="article-date">19 августа 2013 года, 15:00</div>
            <div class="article-announce">
                <p>Нурсултан Назарбаев выступил с инициативой разработать специальную программу под названием «Народ в потоке истории», основной целью которой ставится осмысление истории с высоты современной науки.</p>
            </div>
            
            <a class="article-link" href="#"></a>
        </div>
    </div>
    
    <div class="content-block-line"></div>
    
    <div class="content-block">
        <div class="content-block-title">
            <a href="#">Брифинги</a>
        </div>
        
        <div class="article-block">
            <div class="article-title">Методический инструментарий</div>
            <div class="article-date">19 августа 2013 года, 15:00</div>
            <div class="article-announce">
                <p>Союз художников РК при поддержке АО «Фонд национального благосостояния «Самрук-Казына» готовит к выпуску пятитомное издание иллюстрированных альбомов «Казахское искусство».</p>
            </div>
            
            <a class="article-link" href="#"></a>
        </div>
        
        <div class="article-block">
            <div class="article-title">История в формате 3D</div>
            <div class="article-date">19 августа 2013 года, 15:00</div>
            <div class="article-announce">
                <p>Нурсултан Назарбаев выступил с инициативой разработать специальную программу под названием «Народ в потоке истории», основной целью которой ставится осмысление истории с высоты современной науки.</p>
            </div>
            
            <a class="article-link" href="#"></a>
        </div>
    </div>
{% endblock content %}
