{% extends "layout/special.twig" %}
{% block content %}
    <div id="breadcrumbs">
        <a href="#">Главная</a>
        <a href="#">История Казахстана</a>
    </div>
    
    <div class="page-name">
        <h1>Казахстан в средневековье</h1>
    </div>
    
    <div class="page-content">
        <div class="text">
            <p>На обширной территории Казахстана издревле выделяются крупные историко-культурные регионы развития оседлой, а в средние века и городской жизни. Одними из них были Южный Казахстан и Семиречье. Южный Казахстан, или Присырдарьинская географическая провинция, ограничивается на севере степями Центрального Казахстан, на юге - Таласским Алатау, на востоке - <a href="#">Джувалинским плоскогорьем</a>, на западе - песками Кзыл-Кумов.</p>
            <p>Особое место в <a href="#">Южном Казахстане занимает</a> долина Сырдарьи. Древнее название Сырдарьи, переданное греками в форме Яксарт, сохранялось до VI-VIIвв. Затем она стала именоваться Сейхун, Кангар, Гюль-Зариун, Йинчу-Огуз и лишь в XVI в. вновь приобретает популярность ее первоначальное название Сыр. В Семиречье выделяются два историко-культурных района: Юго-Западное и Северо-Восточное Семиречье.</p>
            <table width="100%">
                <tr>
                    <td>
                        <img src="{{ Url.media('media/images/special/text.jpg') }}" alt="" title="Картинка" />
                    </td>
                    <td>
                        <p style="font-style: italic; color: #666666; margin: 50px 0 0 50px;">«Семиреченский алтарь», <br/>найденный в 1912 году</p>
                    </td>
                </tr>
            </table>
            <p>В науке большое внимание уделяется одной из сложнейших исторических проблем - взаимодействию оседлых и кочевых племен, народов, города и степи. В науке существует так называемое евроцентристское направление, в котором кочевники представлены как варвары в противовес цивилизованным земледельцам.</p>
            <p>В последние годы появились и другие взгляды на проблему, несколько идеализируя кочевников, исследователи отмечают такие их качества, как уважение к старшим, гостеприимство, обычаи побратимства, свободолюбие. Однако неправомерно рассматривать «кочевой мир» обособленно от соседнего с ним оседлого и городского, между которыми испокон веков существовали и развивались тесные этнические, экономические и культурные связи. Торговля, спрос на продукты животноводства были важными причинами расширения скотоводческого хозяйства. Во взаимной торговле, сбыте продукции ремесла и сельского хозяйства было заинтересовано население и города и степи.</p>
        </div>
    </div>
{% endblock content %}
