{% extends "layout/specialhtml.twig" %}
{% block content %}
    {% include 'layout/bread-crumbs-special.twig' %}

    <div class="page-name">
        <h1>{{ item.title }}</h1>
    </div>

    <div class="page-content">
        <div class="text">
            <p>{{ item.text|raw }}</p>
        </div>
    </div>
{% endblock content %}