.b-browsehappy {
	background: #ffe983;
	color: #000;
	padding: 0.5em 0 0.7em;
	text-align: center;
}

body {
	background: url("/media/images/project/bg.png") 0 0 repeat;
}

.b-wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

html,
body,
.b-page {
	height: 100%;
}

.b-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}

.b-footer,
.b-push {
	height: 140px;
}

.b-two-col__left {
	width: 150px;
    height: 998px;
	float: left;
	background-color: #5a4033;
	/*background-image: url("/media/images/project/sidebar-bg.png");*/
	background-position: 0 0;
	background-repeat: no-repeat;
}

.b-two-col{
    background: #5a4033;
}

.b-two-col__right {
	width: 1050px;
	float: left;
	padding-bottom: 80px;
    min-height: 918px;
	background-color: #fbf4e4;
}

.b-left-sidebar {
	padding: 40px 0 110px 0;
	/*-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);*/
}

.b-left-sidebar__logo {
	width: 60px;
	margin: 0 auto;
	padding-bottom: 109px;
}

.b-left-menu__item {
	padding: 0;
	background-image: none;
}

.b-left-menu-item {
	height: 43px;
	padding-top: 52px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff !important;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 16px;
	background-image: url("/media/images/project/left-menu-icon-1.png");
	background-position: 50% 15px;
	background-repeat: no-repeat;
}





.b-left-menu-item:hover {
	background-color: #fff;
	color: #5a4033 !important;
	background-image: url("/media/images/project//left-menu-icon-1-hover.png");
}

.b-left-menu-item_0 {
	background-image: url("/media/images/project/left-menu-icon-0.png");
}

.b-left-menu-item_0:hover {
	background-image: url("/media/images/project/left-menu-icon-0-hover.png");
}


.b-left-menu-item_2 {
	background-image: url("/media/images/project/left-menu-icon-2.png");
}

.b-left-menu-item_2:hover {
	background-image: url("/media/images/project/left-menu-icon-2-hover.png");
}

.b-left-menu-item_3 {
	background-image: url("/media/images/project/left-menu-icon-3.png");
}

.b-left-menu-item_3:hover {
	background-image: url("/media/images/project/left-menu-icon-3-hover.png");
}

.b-left-menu-item_4 {
	background-image: url("/media/images/project/left-menu-icon-4.png");
}

.b-left-menu-item_4:hover {
	background-image: url("/media/images/project/left-menu-icon-4-hover.png");
}

.b-left-menu-item_5 {
	background-image: url("/media/images/project/left-menu-icon-5.png");
}

.b-left-menu-item_5:hover {
	background-image: url("./media/images/project/left-menu-icon-5-hover.png");
}

.b-left-menu-item_6 {
	background-image: url("/media/images/project/left-menu-icon-6.png");
}

.b-left-menu-item_6:hover {
	background-image: url("/media/images/project/left-menu-icon-6-hover.png");
}

.b-left-menu-item_7 {
	background-image: url("/media/images/project/left-menu-icon-7.png");
}

.b-left-menu-item_7:hover {
	background-image: url("/media/images/project/left-menu-icon-7-hover.png");
}
.b-header {
	min-height: 300px;
	background: url("/media/images/project/header-bg.png") -192px 0 no-repeat;
}

.b-header__middle {
	/*padding-bottom: 30px;*/
}

.b-header__bottom {
	padding-bottom: 8px;
}

.b-header__lang {
	padding: 25px 0px 0 9px;
}

.b-header__info-block {
	width: 760px;
	/*padding-left: 170px;*/
}

.b-header__search {
	width: 413px;
	padding-left: 35px;
    position: relative;
}

.b-lang {
	text-align: left;
    position: relative;
}

.b-lang__item {
	display: inline-block;
	padding: 0;
	background-image: none;
	font-family: "Open Sans Light", sans-serif;
	font-size: 14px;
	padding: 0 0 0 12px;
}

*:first-child+html .b-lang__item {
	display: inline;
	zoom: 1;
}

*:first-child+html .b-lang__item {
	display: inline;
	zoom: 1;
}

.b-lang__item a,
.b-lang__item a:visited {
	color: #fff;
	text-decoration: none;
}

.b-lang__item_active {
	font-family: "Open Sans", sans-serif;
    text-decoration: underline;
}
.b-lang__item a.active{

    font-family: "Open Sans", sans-serif;
    text-decoration: underline;
}

.b-lang__item_active a,
.b-lang__item_active a:visited {
	text-decoration: underline;
}

.b-white-block {
	/*background: url("/media/images/project/white-block-bg.png") 0 0 repeat;
	padding-bottom: 15px;*/
    background: #5a4033;
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
  /*  position: relative;
    margin-top: 223px;*/
    position: relative;
    bottom: -222px;
}

.b-white-block__left {
	width: 740px;
	float: left;
	padding: 7px 0 7px 10px;
}

.b-white-block__right {
	width: 360px;
	float: right;
	padding: 15px 15px 0 0;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
}

.b-white-title {
	padding: 0;
	font-size: 32px;
    font-family: Arial;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.b-search {
	width: 362px;
	height: 24px;
	border: 1px solid #afafaf;
	background: transparent;
	padding: 0 20px 0 29px;
	background: url("/media/images/project/search-icon.png") 6px 50% no-repeat;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #fff;
}

.b-search::-webkit-input-placeholder {
	font-family: "Open Sans Light", sans-serif;
	font-style: italic;
	font-size: 14px;
	color: #fff;
}

.b-search:-moz-placeholder {
	font-family: "Open Sans Light", sans-serif;
	font-style: italic;
	font-size: 14px;
	color: #fff;
}

.b-search::-moz-placeholder {
	font-family: "Open Sans Light", sans-serif;
	font-style: italic;
	font-size: 14px;
	color: #fff;
}

.b-search:-ms-input-placeholder {
	font-family: "Open Sans Light", sans-serif;
	font-style: italic;
	font-size: 14px;
	color: #fff;
}

.b-article-list {
	padding: 18px 9px 80px 9px;
    display: inline;
}


.b-article-list__item {
	/*padding: 0 11px 20px 0;*/
	padding: 0 0 20px 10px;
	background-image: none;
	width: 510px;
	float: left;
}

.b-article-list__item_last {
	padding-right: 0;
}

.b-article__img-wrapper {
	width: 194px;
	height: 149px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
	box-shadow: 0 2px 5px rgba(0,0,0,0.25);
	position: relative;
	float: left;
	margin-right: 15px;
}

.b-article__img {
	width: 194px;
	height: 149px;
    background-image: url("/media/theme/v1/plashka1.png");
	overflow: hidden;
	background-color: #ccc;
text-align: center;
}

.b-article__noimg {
	width: 194px;
	height: 149px;
	overflow: hidden;
	background-color: #ccc;
text-align: center;
}

.b-article__noimg img{
	max-width: 196px;
}

.b-article__img:hover {
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.b-article__corner {
	width: 18px;
	height: 22px;
	position: absolute;
	top: 25px;
	right: -8px;
	background: url("/media/images/project/img-corner.png") 0 0 no-repeat;
}

.b-article__info {
	width: 300px;
	float: left;
	/*padding-top: 20px;*/
    height: 143px;
    overflow: hidden;
}

.b-article__title {
	font-family: "KZ Times New Roman", serif;
	font-size: 18px;
	padding: 0;
	font-weight: normal;
	padding-bottom: 10px;
	line-height: 20px;
}

.b-article__title a,
.b-article__title a:visited {
	color: #cc8f7b;
	text-decoration: none;
}

.b-article__title a:hover {
	color: #ba674c;
}

.b-article__text {
	font-family: "KZ Times New Roman", serif;
	font-size: 16px;
	line-height: 19px;
	color: #7e7e7e;
}

.b-footer {
	width: 1200px;
	margin: 0 auto;
	margin-top: -140px;
	background-color: #caa983;
}

.b-footer__left {
	width: 159px;
	height: 100%;
	float: left;
	border-right: 1px solid #fff;
}

.b-footer__right {
	width: 1035px;
	float: right;
}

.b-footer__slider {
	width: 920px;
	margin: 0 auto;
	padding-top: 30px;
}

.b-pdf,
.b-pdf:visited {
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	background: url("/media/images/project/pdf-icon.png") 50% 50% no-repeat;
}

.b-pdf:hover {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

.b-news-list__col {
	/*width: 445px;
	float: left;
	padding-right: 30px;*/
    width: 920px;
    float: left;
    padding-right: 30px;
    -moz-column-count: 2; /* Для Firefox */
    -webkit-column-count: 2; /* Для Safari и Chrome */
    column-count: 2;

}

.b-news-list__col_last {
	padding-right: 0;
}

.b-news-list__item {
	font-size: 13px;
	padding: 0 0 4px 0;
	background-image: none;
}

.b-news-list__item a,
.b-news-list__item a:visited {
	color: #fff;
}

.b-news-list__item a:hover {
	color: #646464;
	text-decoration: underline;
}

.b-image-slider {
	width: 920px;
	height: 85px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	z-index: 1;
	position: relative;
}

.b-slides {
	overflow: hidden;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
}

.b-slides__slide-item {
	position: absolute;
	display: none;
	padding: 0;
	background: none;
}

.b-slides-controls {
	width: 985px;
	height: 35px;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 2;
	position: absolute;
	top: 25px;
	right: -31px;
}

.b-slides-controls_v-centered .b-slides-controls__item {
	top: 162px;
	position: absolute;
}

.b-slides-controls__item {
	padding: 0;
	background: none;
}

.b-slides-controls__link {
	width: 25px;
	height: 30px;
	display: block;
	text-indent: -9999px;
	background: url("/media/images/project/slider-controls.png") 0 0 no-repeat;
	position: relative;
}

.b-slides-controls__prev {
	float: left;
}

.b-slides-controls__prev a,
.b-slides-controls__prev a:visited {
	background-position: 2px 50%;
}

.b-slides-controls__prev a:hover {
	margin-left: -2px;
}

.b-slides-controls__next {
	float: right;
}

.b-slides-controls__next a,
.b-slides-controls__next a:visited {
	background-position: -960px 50%;
}

.b-slides-controls__next a:hover {
	margin-right: -2px;
}

.b-slides-caption {
	display: block;
	width: 96%;
	margin: 0;
	padding: 2%;
	position: absolute;
	bottom: 0;
}

.b-slide-item {
	position: relative;
	z-index: 5;
}

.footer{
    overflow: hidden;
    height: 115px;
    width: 1200px;
    margin: 0px auto;
    margin-bottom: 0px;
    background-color: #caa983;
}
.footer .containerContent .logoFooter{
    background: url(/media/images/new_edu/logo.png) no-repeat;
    background-position: left;
    /*font-family: PT serif;*/
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    height: 100px;
    margin-top: -18px;
    margin-left: 60px;
    padding-top: 46px;
    padding-left: 60px;
    float: left;
    line-height: 30px;
}
.footer .containerContent .textFooter{
    /*font-family: PT serif, regular;*/
    font-size: 13pt;
    color: #ebc186;
    width: 800px;
    position: relative;
    left: 70px;
    top: 35px;
}


.social-block {
    vertical-align: top;
    float: right;
    margin-right: 310px;
    margin-top: 45px;
}
.social-block a{
    vertical-align: top;
    width: 15px;
    height: 25px;
}
.social-block .social-icon:nth-child(1) {
    vertical-align: top;
    position: relative;
    margin-right: 0px;
    width: 12px;
    height: 25px;
    background: url('/media/images/new_edu/fb.png') no-repeat;
    display: inline-block;
    cursor: pointer;

}

.social-block .social-icon:nth-child(2) {
    vertical-align: top;
    position: relative;
    margin-right: 0px;
    top: 8px;
    width: 20px;
    height: 25px;
    background: url('/media/images/new_edu/vk.png') no-repeat;
    display: inline-block;
    cursor: pointer;
}

.social-block .social-icon:nth-child(3) {
    vertical-align: top;
    position: relative;
    margin-right: 0px;
    top: 5px;
    width: 20px;
    height: 25px;
    background: url('/media/images/new_edu/twit.png') no-repeat;
    display: inline-block;
    cursor: pointer;
}

.social-block .social-icon:nth-child(4) {
    vertical-align: top;
    position: relative;
    margin-right: 0px;
    top: 5px;
    width: 18px;
    height: 25px;
    background: url('/media/images/new_edu/mailRu.png') no-repeat;
    display: inline-block;
    cursor: pointer;
}

.social-block .social-icon:nth-child(5) {
    vertical-align: top;
    position: relative;
    margin-right: 0px;
    top: 2px;
    width: 20px;
    height: 25px;
    background: url('/media/images/new_edu/el.png') no-repeat;
    display: inline-block;
    cursor: pointer;
}

.social-block .social-icon:nth-child(6) {
    vertical-align: top;
    position: relative;
    margin-right: 0px;
    width: 20px;
    height: 22px;
    top: -1px;
    background: url('/media/images/new_edu/yt.png') no-repeat;
    display: inline-block;
    cursor: pointer;
}

.social-block .social-icon:nth-child(7) {
    vertical-align: top;
    position: relative;
    margin-right: 0px;
    width: 20px;
    height: 20px;
    top: 3px;
    background: url('/media/images/new_edu/kt.png') no-repeat;
    display: inline-block;
    cursor: pointer;
}

.social-block .social-icon:nth-child(8) {
    position: relative;
    margin-right: 0px;
    width: 20px;
    height: 20px;
    top: 2px;
    background: url('/media/images/new_edu/yvi.png') no-repeat;
    display: inline-block;
    cursor: pointer;
}

.social-block .social-icon:nth-child(9) {
    position: relative;
    margin-right: 0px;
    width: 20px;
    height: 20px;
    top: 2px;
    background: url('/media/images/new_edu/pcc.png') no-repeat;
    display: inline-block;
    cursor: pointer;
}

.social-block .social-icon:nth-child(10) {
    position: relative;
    margin-right: 0px;
    width: 20px;
    height: 20px;
    top: 2px;
    background: url('/media/images/new_edu/apple.png') no-repeat;
    display: inline-block;
    cursor: pointer;
}

.social-block .social-icon:nth-child(11) {
    position: relative;
    margin-right: 0px;
    width: 20px;
    height: 30px;
    top: 1px;
    background: url('/media/images/new_edu/android.png') no-repeat;
    display: inline-block;
    cursor: pointer;
}

.social-block .social-icon:nth-child(1):hover {
    background: url('/media/images/new_edu/hover-f.png') no-repeat;
    cursor: pointer;
}

.social-block .social-icon:nth-child(2):hover {
    background: url('/media/images/new_edu/hover-vk.png') no-repeat;
    cursor: pointer;
}

.social-block .social-icon:nth-child(3):hover {
    background: url('/media/images/new_edu/hover-twit.png') no-repeat;
    cursor: pointer;
}

.social-block .social-icon:nth-child(4):hover {
    background: url('/media/images/new_edu/mailRuHover.png') no-repeat;
    cursor: pointer;
}

.social-block .social-icon:nth-child(5):hover {
    background: url('/media/images/new_edu/hover-el.png') no-repeat;
    cursor: pointer;
}

.social-block .social-icon:nth-child(6):hover {
    background: url('/media/images/new_edu/Hover-yt.png') no-repeat;
    cursor: pointer;
}

.social-block .social-icon:nth-child(7):hover {
    background: url('/media/images/new_edu/hover-kt.png') no-repeat;
    cursor: pointer;
}

.social-block .social-icon:nth-child(8):hover {
    background: url('/media/images/new_edu/yviHover.png') no-repeat;
    cursor: pointer;
}

.social-block .social-icon:nth-child(9):hover {
    background: url('/media/images/new_edu/hover-pcc.png') no-repeat;
    cursor: pointer;
}

.social-block .social-icon:nth-child(10):hover {
    background: url('/media/images/new_edu/hover-apple.png') no-repeat;
    cursor: pointer;
}

.social-block .social-icon:nth-child(11):hover {
    background: url('/media/images/new_edu/Hover-android.png') no-repeat;
}
