{% extends "layout/html.twig" %}

{% block extrastyles %} {% endblock %}
{% block extrascripts %}{% endblock extrascripts %}

{% block content %}
    <div class="top-background">
    <div class="wrap abs" style="    position: relative;">
    <div class="top1">
        <div class="top2" style="position: relative;display: inline-block;"><p class="legko">Готовиться с нами - ЛЕГКО!</p></div>
        <div class="top3" style="position: relative;display: inline-block;">
            <div class="top4">
            </div>
            <p class="namel">Ломанов Артем</p>
            <a href="#" class="profilchange">Изменить профиль</a>
            <p class="w109">109</p>
            <p class="reit">В рейтинге учеников </p>
            <div class="perenos"><hr color="#ffffff" width="303px" align="middle" size="2px"></div>

            <div class="rectangle"></div>
            <p class="lichkab">Личный кабинет</p>
            <div class="vhod"><a href="#"  class="vhod1">Войдите в личный кабинет и <br/> посмотрите статистику своих действий <br/> за последнюю неделю</a></div>
            <a href="#" class="pereiti"><div class="button2"><div class="right1"></div><p class="per">Перейти</p></div> </a>
        </div>
        </div>
        <div class="center1"></div>
        <div class="center2">
            <div class="center3">
                <form>
                    <input class="find12" type="text" name="search" value="" placeholder="Поиск" style="">
                    <input type="image" src="/media/theme/search.png" class="search-button12">
                </form>
                <div class="olll"  style="display: inline-block">
                <div class="olympiad">
                    <p class="olympiads">Олимпиады</p>
                    <p class="uchaste">Учавствуйте в олипиадах, выигрывайте, поднимайте свой уровень <br/>  вдвое быстрее</p>
                    <div style="display: inline-block">
                    <select name="class1" id="class1" value="">
                        <option value="">Все олимпиады</option>
                        <option value="">Математика</option>
                        <option value="">Физика</option>
                        <option value="">Русский язык</option>
                    </select>
                    </div>
                    <div style="display: inline-block">
                        <select name="class2" id="class2" value="">
                            <option value="">Название олимпиады</option>
                            <option value="">Турнир Школково</option>
                            <option value="">Городской турнир</option>
                            <option value="">Республиканский турнир</option>
                        </select>
                    </div>
                    </div>
                    <div class="olniz">
                        <div class="vid1">
                            <p class="olym">Олимпиада</p>
                            <p class="date1">Дата</p>
                        </div>
                        <div class="vid">
                            <p class="nazv">Турнир "Школково"</p>
                            <p class="date3">20.10.2015</p>
                        </div>
                        <div class="vid">
                            <p class="nazv">Городской турнир</p>
                            <p class="date3">20.10.2015</p>
                        </div>
                        <div class="vid"></div>
                        <div class="vid"></div>
                        <div class="vid"></div>
                        <div class="vid"></div>
                        <div class="vid"></div>
                        <div class="vid"></div>
                        <div class="vid"></div>
                    </div>
                    </div>
                <div class="olbok"  style="display: inline-block">
                    <p class="winners">Победители турниров</p>
                    <a href="#"><div class="arrvverh"></div></a>
                    <a href="#"><div class="arrvvnizz"></div></a>
                    <div class="olbok1">
                    <div class="foto4" id="foto1">
                    </div>
                        <p class="nadpiss3" id="vidnad1">Д.А.ВАСИЛЕВСИКИЙ</p>
                        <p class="nadpiss2" id="vidnad1">ИСТОРИЯ</p>
                    </div>
                    <div class="olbok2">
                    <div class="foto" id="foto2"></div>
                        <p class="nadpiss" id="vidnad2">У.Е.ЗАПОЛЯРНЫЙ</p>
                        <p class="nadpiss1" id="vidnad2">ГЕОМЕТРИЯ</p>
                    </div>
                     <div class="olbok2">
                    <div class="foto" id="foto3"></div>
                         <p class="nadpiss" id="vidnad1">У.Н.РОГОВ</p>
                         <p class="nadpiss1" id="vidnad1">РУССКИЙ ЯЗЫК</p>
                    </div>
                    <div class="olbok2">
                    <div class="foto" id="foto2"></div>
                        <p class="nadpiss" id="vidnad1">У.Е.ЗАПОЛЯРНЫЙ</p>
                        <p class="nadpiss1" id="vidnad1">ЛИТЕРАТУРА</p>
                    </div>
                    <div class="olbok2">
                        <div class="foto" id="foto3"></div>
                        <p class="nadpiss" id="vidnad1">У.Н.РОГОВ</p>
                        <p class="nadpiss1" id="vidnad1">АЛГЕБРА</p>
                    </div>
                     <div class="olbok2">
                         <div class="foto" id="foto1"></div>
                         <p class="nadpiss" id="vidnad1">Д.А.ВАСИЛЕВСИКИЙ</p>
                         <p class="nadpiss1" id="vidnad1">ИСТОРИЯ</p>
                     </div>
                     <div class="olbok2">
                         <div class="foto" id="foto2"></div>
                         <p class="nadpiss" id="vidnad2">У.Е.ЗАПОЛЯРНЫЙ</p>
                         <p class="nadpiss1" id="vidnad2">ГЕОМЕТРИЯ</p>
                     </div>
                    <div class="olbok2">
                         <div class="foto" id="foto3"></div>
                        <p class="nadpiss" id="vidnad1">У.Н.РОГОВ</p>
                        <p class="nadpiss1" id="vidnad1">РУССКИЙ ЯЗЫК</p>
                     </div>
                    <div class="olbok2">
                         <div class="foto" id="foto2"></div>
                        <p class="nadpiss" id="vidnad1">У.Е.ЗАПОЛЯРНЫЙ</p>
                        <p class="nadpiss1" id="vidnad1">ЛИТЕРАТУРА</p>
                     </div>
                     <div class="olbok2">
                         <div class="foto" id="foto3"></div>
                         <p class="nadpiss" id="vidnad1">У.Н.РОГОВ</p>
                         <p class="nadpiss1" id="vidnad1">АЛГЕБРА</p>
                     </div>
                    <div class="olbok2">
                         <div class="foto" id="foto1"></div>
                         <p class="nadpiss" id="vidnad1">Д.А.ВАСИЛЕВСИКИЙ</p>
                         <p class="nadpiss1" id="vidnad1">ИСТОРИЯ</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="basic"></div>
            <div class="basic2">
                <div class="content-bot">
                    <div class="bg_bot">
                        <div class="basic3">
                            <p class="bot-1-1">Рейтинг пользователей</p>
                            <div class="table2">
                                <table width="100%" class="tm">
                                    <tr>
                                        <td class="nmmr">№</td>
                                        <td class="nmmr">Имя пользователя</td>
                                        <td class="nmmr">Очки рейтинга</td>
                                    </tr>
                                    <tr>
                                        <td class="nmmr">1</td>
                                        <td class="nmmr">Попов Иван</td>
                                        <td class="nmmr">15458</td>
                                    </tr>
                                    <tr>
                                        <td class="nmmr">2</td>
                                        <td class="nmmr">Шевченко Николай</td>
                                        <td class="nmmr">14569</td>
                                    </tr>
                                    <tr>
                                        <td class="nmmr">3</td>
                                        <td class="nmmr">Демина Анастасия</td>
                                        <td class="nmmr">13735</td>
                                    </tr>
                                    <tr>
                                        <td class="nmmr">4</td>
                                        <td class="nmmr">Лазарева Татьяна</td>
                                        <td class="nmmr">12458</td>
                                    </tr>
                                    <tr>
                                        <td class="nmmr">5</td>
                                        <td class="nmmr">Салков Александр</td>
                                        <td class="nmmr">11547</td>
                                    </tr>
                                    <tr>
                                        <td class="nmmr">6</td>
                                        <td class="nmmr">Карпотков Денис</td>
                                        <td class="nmmr">10458</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#" class="search1">Найти себя</a>
                        </div>
                        <a href="#" class="navodka"><div class="arrow2"></div></a>
                        <a href="#"><div class="zvsearch1"></div></a>
                    </div>
                </div>
            </div>
        <div class="listfoot">
        </div>
        </div>
</div>
{% endblock content %}