
<!-- FOOTER-->
<div class="b-footer">
    <div class="b-footer__left"><a href="#" class="b-pdf">&nbsp;</a></div>
    <div class="b-footer__right">
        <div class="b-footer__slider">
            <div class="b-image-slider js-image-slider">
                <ul class="b-slides">
                    <li>
                        <div class="b-slide-item">
                            <div class="b-news-list">
                                <div class="b-news-list__col">
                                    <ul>
                                        <li class="b-news-list__item"><a href="#">Структура и динамика неналоговых поступлений в бюджет.</a></li>
                                        <li class="b-news-list__item"><a href="#">Бюджеты казахстанских регионов (взгляд непрофессионала)</a></li>
                                        <li class="b-news-list__item"><a href="#">СССР-США (сравнение доходной части бюджета)</a></li>
                                        <li class="b-news-list__item"><a href="#">Динамика роста бюджета Казахстана (продолжаю считать деньги)</a></li>
                                    </ul>
                                </div>
                                <div class="b-news-list__col b-news-list__col_last">
                                    <ul>
                                        <li class="b-news-list__item"><a href="#">Казахи на старых исторических фото</a></li>
                                        <li class="b-news-list__item"><a href="#">Динамика и структура налоговых поступлений в бюджет</a></li>
                                        <li class="b-news-list__item"><a href="#">Структура доходной части бюджета Казахстана за 1994-2015 годы</a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="b-slide-item">
                            <div class="b-news-list">
                                <div class="b-news-list__col">
                                    <ul>
                                        <li class="b-news-list__item"><a href="#">Структура и динамика неналоговых поступлений в бюджет.</a></li>
                                        <li class="b-news-list__item"><a href="#">Бюджеты казахстанских регионов (взгляд непрофессионала)</a></li>
                                        <li class="b-news-list__item"><a href="#">СССР-США (сравнение доходной части бюджета)</a></li>
                                        <li class="b-news-list__item"><a href="#">Динамика роста бюджета Казахстана (продолжаю считать деньги)</a></li>
                                    </ul>
                                </div>
                                <div class="b-news-list__col b-news-list__col_last">
                                    <ul>
                                        <li class="b-news-list__item"><a href="#">Казахи на старых исторических фото</a></li>
                                        <li class="b-news-list__item"><a href="#">Динамика и структура налоговых поступлений в бюджет</a></li>
                                        <li class="b-news-list__item"><a href="#">Структура доходной части бюджета Казахстана за 1994-2015 годы</a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="b-slide-item">
                            <div class="b-news-list">
                                <div class="b-news-list__col">
                                    <ul>
                                        <li class="b-news-list__item"><a href="#">Структура и динамика неналоговых поступлений в бюджет.</a></li>
                                        <li class="b-news-list__item"><a href="#">Бюджеты казахстанских регионов (взгляд непрофессионала)</a></li>
                                        <li class="b-news-list__item"><a href="#">СССР-США (сравнение доходной части бюджета)</a></li>
                                        <li class="b-news-list__item"><a href="#">Динамика роста бюджета Казахстана (продолжаю считать деньги)</a></li>
                                    </ul>
                                </div>
                                <div class="b-news-list__col b-news-list__col_last">
                                    <ul>
                                        <li class="b-news-list__item"><a href="#">Казахи на старых исторических фото</a></li>
                                        <li class="b-news-list__item"><a href="#">Динамика и структура налоговых поступлений в бюджет</a></li>
                                        <li class="b-news-list__item"><a href="#">Структура доходной части бюджета Казахстана за 1994-2015 годы</a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="b-slide-item">
                            <div class="b-news-list">
                                <div class="b-news-list__col">
                                    <ul>
                                        <li class="b-news-list__item"><a href="#">Структура и динамика неналоговых поступлений в бюджет.</a></li>
                                        <li class="b-news-list__item"><a href="#">Бюджеты казахстанских регионов (взгляд непрофессионала)</a></li>
                                        <li class="b-news-list__item"><a href="#">СССР-США (сравнение доходной части бюджета)</a></li>
                                        <li class="b-news-list__item"><a href="#">Динамика роста бюджета Казахстана (продолжаю считать деньги)</a></li>
                                    </ul>
                                </div>
                                <div class="b-news-list__col b-news-list__col_last">
                                    <ul>
                                        <li class="b-news-list__item"><a href="#">Казахи на старых исторических фото</a></li>
                                        <li class="b-news-list__item"><a href="#">Динамика и структура налоговых поступлений в бюджет</a></li>
                                        <li class="b-news-list__item"><a href="#">Структура доходной части бюджета Казахстана за 1994-2015 годы</a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="b-slide-item">
                            <div class="b-news-list">
                                <div class="b-news-list__col">
                                    <ul>
                                        <li class="b-news-list__item"><a href="#">Структура и динамика неналоговых поступлений в бюджет.</a></li>
                                        <li class="b-news-list__item"><a href="#">Бюджеты казахстанских регионов (взгляд непрофессионала)</a></li>
                                        <li class="b-news-list__item"><a href="#">СССР-США (сравнение доходной части бюджета)</a></li>
                                        <li class="b-news-list__item"><a href="#">Динамика роста бюджета Казахстана (продолжаю считать деньги)</a></li>
                                    </ul>
                                </div>
                                <div class="b-news-list__col b-news-list__col_last">
                                    <ul>
                                        <li class="b-news-list__item"><a href="#">Казахи на старых исторических фото</a></li>
                                        <li class="b-news-list__item"><a href="#">Динамика и структура налоговых поступлений в бюджет</a></li>
                                        <li class="b-news-list__item"><a href="#">Структура доходной части бюджета Казахстана за 1994-2015 годы</a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.js-image-slider').bjqs({
                        // width and height need to be provided to enforce consistency
                        // if responsive is set to true, these values act as maximum dimensions
                        width : 920,
                        height : 85,

                        // animation values
                        animtype : 'slide', // accepts 'fade' or 'slide'
                        animduration : 450, // how fast the animation are
                        animspeed : 6000, // the delay between each slide
                        automatic : true, // automatic

                        // control and marker configuration
                        showcontrols : true, // show next and prev controls
                        centercontrols : false, // center controls verically
                        nexttext : 'Next', // Text for 'next' button (can use HTML)
                        prevtext : 'Prev', // Text for 'previous' button (can use HTML)
                        showmarkers : false, // Show individual slide markers
                        centermarkers : true, // Center markers horizontally

                        // interaction values
                        keyboardnav : true, // enable keyboard navigation
                        hoverpause : true, // pause the slider on hover

                        // presentational options
                        usecaptions : true, // show captions for images using the image title tag
                        randomstart : true, // start slider at random slide
                        responsive : false
                    });
                });
            </script>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- END FOOTER-->
