{% extends "layout/html.twig" %}

{% block content %}
    <div class="top-background">
        <div class="wrap abs" style="    position: relative;">
            <div class="">
                <div class="">
                    Хъелоу пипл
                </div>
            </div>
        </div>
    </div>
{% endblock content %}